.todo {
    padding-top: 50px;
}

.todo-main
{
    padding: 30px;
}

.todo-head-add-btn {
  display: flex;
  justify-content: space-between;
  
}

.todo-head-add-btn h2 {
    font-size: 20px;
}

.todo-item
{
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border: 2px solid black;
    padding: 20px;
    border-radius: 5px;
    width: 50%;
}

.completed
{
    color: green;
}

.not-completed
{
    color: red;
    
    border: none;
}

.contain-task
{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.complete-btn
{
    background: white;
    padding: 10px;
    border-radius: 10px;
}

.add-item
{
    background: white;
    padding: 10px;
    border-radius: 10px;
}

.helper-btns
{
    margin-top: 40px;
}

.helper-btns div
{
    margin: 5px;
}

.other-help-btns
{
    display: flex;
    
}

.delete-btn
{
    height: 20px;
    width: 30px;
    border: none;
    background: crimson;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

.update-btn
{
    height: 20px;
    width: 30px;
    border: none;
    background: teal;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

@media (max-width: 768px)
{
    .todo-item
    {
        font-size: 12px;
    }
}